.block-15 {
    @media screen and (min-width: 1440px) {
        width: 80%;

        &__title {
            font-size: 36px;
            width: 405px;
        }
        &__right {
            &-img {
                width: 330px;
                height: 380px;
            }
        }
        .item {
            &__heading {
                font-size: 12px;
            }
            &__body {
                font-size: 13px;
            }
        }
        &__button {
            bottom: 45px;
            left: 330px;
        }
        
        &__caption {
            bottom: 90px;
            left: 316px;
        }
    }
}