.block-15 {
    @media screen and (min-width: 960px) {

        &__title {
            font-size: 34px;
            line-height: 39px;
            width: 400px;
            margin: -11px -14px;
            padding-top: 50px;
        }
        .item {
            &__body {
                width: 200px;
            }
            &__heading {
                padding-top: 5px;
                font-size: 11px;
            }
            .counter {
                top: 24px;
            }
        }
        &__button {
            bottom: 35px;
            left: calc(50% - 20px);
        }
        &__caption {
            bottom: 68px;
            left: 194px;
            &::before {
                content: "/";
                display: inline-block;
                color: #000;
                font-size: 25px;
                font-weight: 900;
            }
        }

        &__right {
            width: 40%;
            display: flex;
            padding-left: 85px;

            &-img {
                width: 320px;
                height: 380px;
            }
        }
        
    }
}