.block-5 {
    @media #{$desktop} {
        .section {
            &__inner {
                padding: 0;
                padding-top: 56px;
                width: 710px;
                margin: 0 auto;
            }

            &__title {
                font-size: 30px;
                line-height: 37.5px;
            }

            &__text {
                font-size: 10px;
                line-height: 15px;

                &::before {
                    width: 36px;
                    height: 4px;
                    top: 30px;
                }
            }
        }

        .review {
            &__img {
                width: 85px;
                height: 85px;
            }
        }
    }
}