.block-6 {
    @media #{$desktopWide} {
        .section{
            &__iner{
                width: 855px;
            }
            &__image{
                &--design{
                        width: 231px;
                        height: 551px;
                }
            
            }
            &__block{
                margin-left: 200px;
            }
            &__title{
                font-size: 36px;
                line-height: 45px;
            }
            &__text{
                font-size: 12px;
                line-height: 18px;
                &::before{
                    top: 25px;
                }
            }
            &__caption{
                font-size: 12px;
                line-height: 19.5px;
            }
            &__captionText{
                line-height: 19.5px;
            }
        }
    }
}