.block-6 {
    .section{ 
        &__iner {
            padding: 11px 57px 40px 60px;
        }

        &__image {
            display: none;
            height: 430px;
            width: 260px;
            position: relative;

            &::after {
                content: url(../img/hardAZ.png);
                width: 30px;
                height: 100px;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;
                opacity: 0.6;
            }
        }

        &__title {
            padding: 0px 30px 2px 38px;
            color: $mainDarkColor;
            font-family: $acrom;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            font-weight: 900;
        }

        &__text {
            padding: 16px 23px 26px 38px;
            color: $mainDarkColor;
            font-family: $acrom;
            font-size: 9px;
            font-weight: 700;
            line-height: 13px;
            position: relative;

            &::before {
                content: '';
                display: inline-block;
                vertical-align: top;
                box-sizing: border-box;
                position: absolute;
                left: 11px;
                top: 20px;
                width: 14px;
                height: 2px;
                background-color: $mainDarkColor;
            }
        }

        &__caption {
            color: $mainDarkColor;
            padding-top: 10px;
            font-family: $acrom;
            font-size: 9px;
            font-weight: 900;
            line-height: 13.67px;
            text-transform: uppercase;
            position: relative;

            &::before {
                display: inline-block;
                content: "";
                height: 4px;
                width: 4px;
                background: $mainDarkColor;
                position: absolute;
                left: -10px;
                top: 14px;
            }
        } 

        &__captionText {
            color: $darkAccentColor;
            padding-top: 5px;
            font-family: $acrom;
            font-size: 9px;
            font-weight: 400;
            line-height: 13.67px;
        }
    }
}