@font-face {
    font-family: 'Gilroy-Light';
    src: url('Gilroy-Light.woff2') format('woff2'),
        url('Gilroy-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinionPro-Regular';
    src: url('MinionPro-Regular.woff2') format('woff2'),
        url('MinionPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom-Light';
    src: url('Acrom-Light.woff2') format('woff2'),
        url('Acrom-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom-Thin';
    src: url('Acrom-Thin.woff2') format('woff2'),
        url('Acrom-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom-Regular';
    src: url('Acrom-Regular.woff2') format('woff2'),
        url('Acrom-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom-Bold';
    src: url('Acrom-Bold.woff2') format('woff2'),
        url('Acrom-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom-ExtraBold';
    src: url('Acrom-ExtraBold.woff2') format('woff2'),
        url('Acrom-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

