.block-1 {
  background-image: radial-gradient(circle, #0d2239, #122034, #151f30, #171d2b, #181c27);
  padding: 10px;

  &__header {
    height: 50px;
  }
  .burger {
    height: 2px;
  }

  .header__logo-link {
    height: 100%;
    line-height: 50px;
  }
  .header__logo {
    height: 100%;
  }
  .videoCourse-Title {
  font-size: 77px;
  line-height: 1.3;

  }

}


.[_Пошаговый__Видео_курс__]_ {
  font-size: 77px;
  font-family: "Acrom";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: left;
  -moz-transform: matrix( 0.26042103928007,0,0,0.2602152284517,0,0);
  -webkit-transform: matrix( 0.26042103928007,0,0,0.2602152284517,0,0);
  -ms-transform: matrix( 0.26042103928007,0,0,0.2602152284517,0,0);
  position: absolute;
  left: -88.876px;
  top: 62.292px;
  z-index: 15;
}


.«Старт_в_карьере_web_разработчика_с_0»_для__тех {
  font-size: 34.587px;
  font-family: "Acrom";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.444;
  text-align: center;
  -moz-transform: matrix( 0.26042103928007,0,0,0.2602152284517,0,0);
  -webkit-transform: matrix( 0.26042103928007,0,0,0.2602152284517,0,0);
  -ms-transform: matrix( 0.26042103928007,0,0,0.2602152284517,0,0);
  position: absolute;
  left: -199.929px;
  top: 105.213px;
  z-index: 19;
}
