.block-1 {
	@media (min-width: 960px) {
		padding: 15px 70px;
		.block-1__videoCourse-Title-forDecktop {
			font-size: 56px;
			width: 455px;
  		}
  		.block-1__header {
  			margin-bottom: 40px;
  		}
  		.block-1__videoCourse-Title {
  			margin-bottom: 35px;
  		}
  		.block-1__videoCourse-Subtittle {
  			font-size: 10px;
  			width: 220px;
  			margin-bottom: 25px;
  		}
  		.block-1__videoCourse-Subtittle--before::before {
  			font-size: 16px;
  		    left: -20px;
   		    top: -7px;
 		 }
 		 .block-1__videoCourse-Subtittle--after::after {
  			font-size: 16px;
            bottom: -2px;
            right: -75px;
 	    }
  		.title-block-2__text {
  			font-size: 12.5px;
  		}
  		.title-block-2__text-2 {
  			font-size: 11.5px;
  		}
  		.block-1__title-block-2 {
  			width: 185px;
  		}
  		.block-1__button {
  			height: 35px;
  			width: 135px;
  			font-size: 8px;
  		}
  		.block-1__pacuku_bloch-img {
  			width: 525px;
  			height: 470px;
  			top: -18px;
  		}
  		.block-1__pos-reletive {
  			width: 800px;
  		}
  		.block-1__sbg-block {
  			bottom: 160px;
  		}
  		.block-1__numbers-bottom {
  			bottom: 0;
  		}
	}
}