.block-3 {
    @media #{$desktop} {
        &__inner {
            display: flex;
            justify-content: center;
            width: 1200px;
        }
        &__wrap-title {
            width: 212px;
        }
        &__title {
            font-size: 27px;
            line-height: 37px;
            padding-top: 50px;
            padding-left: 0;
            margin-bottom: 14px;
        }
        &__subtitle {
            font-size: 10px;
            padding-left: 40px;
            padding-right: 48px;
            &::before {
                content: '';
                display: block;
                left: -7px;
                width: 28px;
            }
        }
    }
    .item {
        margin-bottom: 0;
        &__heading {
            font-size: 18px;
            margin-bottom: 0;
        }
        &__place {
            font-size: 8px;
        }
        &__body{
            font-size: 8px;
            margin-bottom: 0;
            padding-top: 0;
        }
    }
    .list {
        width: 417px;
        padding-top: 56px;
        &::after {
            content: '';
            content: "";
            display: block;
            top: 129px;
            right: -39px;
            width: 251px;
            height: 110px;
        }
    }
}