.block-3 {
    // &__inner {
    // }
    &__title {
        font-family: $acrom;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        padding-top: 23px;
        padding-left: 85px;
        padding-right: 85px;
        margin-bottom: 23px;
    }
    &__subtitle {
        position: relative;
        font-family: Acrom;
        font-size: 9px;
        font-weight: 500;
        line-height: 13px;
        padding-left: 88px;
        padding-right: 67px;
        margin-bottom: 24px;
        &::before {
            content: '';
            display: block;
            border-top: 2px solid $mainDarkColor;
            width: 13px;
            position: absolute;
            top: 6px;
            left: 64px;
        }
    } // .list {
    //  }
    .item {
        padding-left: 41px;
        &__heading {
            position: relative;
            font-family: $acrom;
            font-size: 15px;
            font-weight: 400;
            line-height: 19.14px;
            &::before {
                content: '';
                display: block;
                width: 8px;
                height: 7px;
                background-color: $brandColor;
                position: absolute;
                left: -18px;
                top: 8px;
            }
        }
        &__place {
            font-family: $acrom;
            font-size: 9px;
            font-weight: 900;
            text-transform: uppercase;
        }
        &__subheading {
            display: inline-block;
            font-family: Acrom;
            font-size: 9px;
            font-weight: 500;
            line-height: 13px;
            background-color: $lightAccentColor;
            margin-bottom: 14px;
        }
        &__body {
            font-family: $acrom;
            font-size: 9px;
            font-weight: 400;
            line-height: 13px;
            padding-right: 9px;
            margin-bottom: 17px;
        }
    }
}