.block-9 {
    padding: 10px 46px 24px;

    &__inner{
        position: relative;
        margin: 0 auto;
        
            &::before{
                position: absolute;
                left: -10px;
                top: 25px;
                z-index: -1;
                content: "4";
                width: 77px;
                height: 97px;
                color: #f7f7f7;
                font-family: $acrom;
                font-size: 139px;
                font-weight: 400;
                line-height: 55.46px;
                text-transform: uppercase;
            }
            &::after{
                position: absolute;
                top: -20px;
                left: 124px;
                z-index: -1;
                content: "stap";
                width: 27px;
                height: 96px;
                color: #f7f7f7;
                font-family: $acrom;
                font-size: 37px;
                font-weight: 400;
                line-height: 200px;
                text-transform: uppercase;
                transform: rotate(90deg);
            }
    }
   
    &__title{
        color: $mainLightColor;
        background-color: $mainDarkColor;
        font-family: $acrom;
        width: 125px;
        margin: 0 auto 10px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-transform: uppercase;
    }

    &__accent {
        display: block;
        margin: 0 auto;
        color: $mainDarkColor;
        font-weight: 700;
        background-color: #ffffff;
        font-family: $acrom;
    }

    &__do-yourself{ 
        width: 172px;
        position: relative;
        padding-left: 30px;
        margin-bottom: 40px;
        color:$mainDarkColor;
        font-family: $acrom;
        font-size: 9px;
        font-weight: 500;
        letter-spacing: -0.86px;
        line-height: 14px;

        &::before {
            position: absolute;
            top: 3px;
            left: 0;
            display: block;
            content: " ";
            width: 16px;
            height: 5px;
            background-color: $mainDarkColor;
        }
        
    }

    .container {
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: -90px;
        top: 4233px;
        width: 500px;
        height: 380px;
        z-index: 288;
      }
      


    .list {
        margin: 0 auto 30px;
        list-style: none;
    }

    .item {
    position: relative;
    padding-left: 14px;
    margin-bottom: 22px;
        &__heading {
            color:$mainDarkColor;
            font-family: $acrom;
            font-size: 9px;
            font-weight: 400;
            line-height: 14.18px;
            text-transform: uppercase;
        }

        &__body{
            color: $darkAccentColor;
            font-family: $acrom;
            font-size: 9px;
            font-weight: 400;
            line-height: 13px;
            margin-top: 10px;
        }
    }

    .purpose {
        position: relative;
        color: $brandColor;
        font-family: $acrom;
        font-size: 10px;
        font-weight: 500;
        line-height: 13px;
        padding-left: 10px;

        &::before {
            position: absolute;
            left: 0;
            bottom: 10px;
            content: "/";
            display: block;
            color: $mainDarkColor;
            width: 13px;
            height: 20px;
        }
    }

    .number {
        margin-left: -5px;
    }

    .number-wrap {
        color: $mainDarkColor;
        font-family: $acrom;
        font-size: 16px;
        font-weight: 400;
        transform: translateX(-4px);
        margin-left: -5px;
        overflow: hidden;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 0px;
        left: -10px;
      

            &::after{
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                background-color: #16ebfe;
                position: absolute;
                top: 15px;
                left:5px;
                
            }
    }
}